.brands {

    &__cards{
        @include flexbox;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10rem;
    }

    &__logo--box {
        text-align: center;

        @include respond(bp-smallest) {
                width: 100%;
                
                &:not(:last-child){
                    margin-bottom: 5rem;
                }
        }

        @include respond(bp-medium) {
            &:not(:last-child) {
                width: 50%;
            }
        }

        @include respond(bp-large) {
            width: 25% !important;
        }

        @include respond(bp-larger) {
            width: 15% !important;
        }
    }
}