.featurs {


    &__card {
        @include flexbox;
        justify-content: center;
        padding: 0 10rem;

        &--details {
            margin-top: 7.5rem;

        }

        &--brand {
            margin-top: 15rem;
        }

    }

    &__brand {
        margin-top: 15rem;
    }

    &__photo {
        width: 50%;
    }
}