// MARGIN TOP
.mt-s{
    margin-top: .8rem;
}
.mt-m{
    margin-top: 1.2rem;
}
.mt-l{
    margin-top: 1.8rem;
}
.mt-b{
    margin-top: 2rem;
}
.mt-h{
    margin-top: 3rem;
}

// MARGIN bottom
.mb-s{
    margin-bottom: .8rem;
}
.mb-m{
    margin-bottom: 1.2rem;
}
.mb-l{
    margin-bottom: 1.8rem;
}
.mb-b{
    margin-bottom: 2rem;
}
.mb-h{
    margin-bottom: 3rem;
}

// MARGIN LEFT
.ml-s{
    margin-left: .8rem;
}
.ml-m{
    margin-left: 1.2rem;
}
.ml-l{
    margin-left: 1.8rem;
}
.ml-b{
    margin-left: 2rem;
}
.ml-h{
    margin-left: 3rem;
}

// MARGIN RIGHT
.mr-s{
    margin-right: .8rem;
}
.mr-m{
    margin-right: 1.2rem;
}
.mr-l{
    margin-right: 1.8rem;
}
.mr-b{
    margin-right: 2rem;
}
.mr-h{
    margin-right: 3rem;
}

// MARGIN HORIZENTAL
.mx-s{
    margin:0 .8rem;
}
.mx-m{
    margin:0 1.2rem;
}
.mx-l{
    margin:0 1.8rem;
}
.mx-b{
    margin:0 2rem;
}
.mx-h{
    margin:0 3rem;
}


// MARGIN VERTICAL
.my-s{
    margin:.8rem 0;
}
.my-m{
    margin:1.2rem 0;
}
.my-l{
    margin:1.8rem 0;
}
.my-b{
    margin:2rem 0;
}
.my-h{
    margin:3rem 0;
}


// Text-align
.tc{
    text-align: center;
}
